* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
}

.book-section {
    background-image: url(./library.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
}

footer {
    background-color: rgba(66, 67, 66, 0.7);
    align-self: flex-end;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

footer a:visited {
    color: white;
}