* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    color: #F8F8F0;
}

.book-section {
    background-image: url(./library.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
}

footer {
    background-color: rgba(66, 67, 66, 0.7);
    align-self: flex-end;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

footer a:visited {
    color: #F8F8F0;
}

.title-section {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2C1A11;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button-container button {
    width: 150px;
    height: 40px;
    background-color: #2E2B1F;
    color: #F8F8F0;
    border: 2px solid #5A4E3E;
    border-radius: 1.5em;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
}

.button-container button:hover {
    background: #5A4E3E;
}


h1 {
    font-size: 4em;
    text-align: left;
    padding: 0.8em;
    margin-bottom: -60px;
}